pythonENV/
__pycache__/
*.pyc
*.pyo
logs/
media/projects/*.musiai
media/music/test_*.mid
*.egg-info/
dist/
build/
.vs/
*.suo
*.user
~$*
~WRL*
*.tmp

# Large binary files
media/soundfonts/*.sf2
media/mp3/
!media/soundfonts/VintageDreamsWaves-v2.sf2

pythonENV_OLD/
pythonENV_OLD/
pythonENV_OLD/
python310ENV/
python310ENV/
